<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">


	<display-name>Anagram application</display-name>

	<distributable />

	<!-- LOG4J CONFIGURATION -->
	<!-- EMV PROPERTIES CONFIGURATION -->
	<context-param>
		<param-name>absoluteConfigPath</param-name>
		<param-value>/etc/emv/anagram</param-value>
	</context-param>
	<context-param>
		<param-name>absoluteGlobalConfigPath</param-name>
		<param-value>/usr/local/tomcat/FAMDistAuth</param-value>
	</context-param>
	<listener>
		<listener-class>com.emailvision.commons.http.listeners.Log4jInitConfigurationListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.emailvision.commons.http.listeners.EmvContextListener</listener-class>
	</listener>

	<session-config>
		<!-- <session-timeout>60</session-timeout> -->
		<cookie-config>
			<http-only>true</http-only>
			<secure>true</secure>
		</cookie-config>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- Filters -->
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>com.emailvision.commons.http.filters.CharsetFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<servlet-name>AnagramStartServlet</servlet-name>	
		<!-- <servlet-name>GetWordsFromDictionaryServlet</servlet-name> -->
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

	<!-- Servlet -->
	<servlet>
		<servlet-name>AnagramStartServlet</servlet-name>
		<servlet-class>com.leman.anagram.servlets.AnagramStartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AnagramStartServlet</servlet-name>
		<url-pattern>/AnagramStartServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetWordsFromDictionaryServlet</servlet-name>
		<servlet-class>com.leman.anagram.servlets.GetWordsFromDictionaryServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>GetWordsFromDictionaryServlet</servlet-name>
		<url-pattern>/GetWordsFromDictionaryServlet</url-pattern>
	</servlet-mapping>


	<!-- This tag is for the welcome files such as index.html -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Error pages -->
	<error-page>
		<error-code>401</error-code>
		<location>/html/error.html</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/html/error.html</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/html/error.html</location>
	</error-page>

	<error-page>
		<error-code>400</error-code>
		<location>/html/error.html</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/html/error.html</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/html/error.html</location>
	</error-page>
</web-app>
