<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	<appender name="AnagramLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/var/log/tomcat/anagram.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
		</layout>
	</appender>
 
	<appender name="AsyncOpenAmLog" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="512" />
		<appender-ref ref="AnagramLog" />
	</appender>
 
	<logger name="com.leman">
		<level value="DEBUG" />
	</logger>
 
	<logger name="org.apache">
		<level value="ERROR" />
	</logger>
 
	<root>
		<level value="INFO" />
		<appender-ref ref="AsyncOpenAmLog" />
	</root>
 
</log4j:configuration>
